[Unit]
Description=Proton Pass SSH Agent

[Service]
Type=simple
RuntimeDirectory=proton-pass
RuntimeDirectoryMode=0700
ExecStart=%h/.local/bin/pass-cli ssh-agent start --socket-path %t/proton-pass/ssh-agent.sock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
