#!/usr/bin/env bash
set -euo pipefail

OS="{{ .chezmoi.os }}"
{{ template "packages.sh.tmpl" }}

if [ "$OS" = "linux" ]; then
    if [ -f /etc/os-release ]; then
        . /etc/os-release
        DISTRO="${ID_LIKE:-} ${ID:-}"
    fi

    install_pkg \
        curl \
        zsh \
        fzf \
        ripgrep \
        tree

    if [ -x "$HOME/.local/bin/pass-cli" ]; then
        echo "Proton Pass CLI already installed"
    else
        curl -fsSL https://proton.me/download/pass-cli/install.sh | bash
    fi

    if [ -d "${ZSH:-$HOME/.oh-my-zsh}" ]; then
        echo "Oh My Zsh already installed"
    else

        RUNZSH=no CHSH=no KEEP_ZSHRC=yes sh -c \
            "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    fi
fi
