{{- $gitName := promptStringOnce . "Git name" "gitName" -}}
{{- $gitEmail := promptStringOnce . "Git email" "gitEmail" -}}
[data]
    profile = "private"

    [data.git]
        name = {{ $gitName | quote }}
        email = {{ $gitEmail | quote }}
{{- $profile := promptStringOnce . "profile" "private/work" "private" -}}

[data]
    profile = {{ $profile | quote }}
