{{- $gitName := promptStringOnce . "Git name" "gitName" -}}
{{- $gitEmail := promptStringOnce . "Git email" "gitEmail" -}}
[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}
