[user]
    email = {{ .git.email | quote }}
    name = {{ .git.name | quote }}

[core]
    editor = "$VISUAL"
    excludesfile = ~/.dotfiles/git/gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate